# DataLake (S3 / Supabase Storage)
S3_ENDPOINT_URL=https://XXXX.storage.supabase.co/storage/v1/s3
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=XXXX
BUCKET_NAME=XXXX

# PostgreSQL (Supabase)
# Formato: postgresql+psycopg2://usuario:senha@host:porta/banco
DATABASE_URL=postgresql+psycopg2://usuario:senha@host:porta/banco
